<!DOCTYPE html>
<html>
	<head>
		<!--设置浏览器的布局视口，只在移动端浏览器起作用-->
		<meta name="viewport" content="width=width-device,initial-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>商品类型列表</title>
		<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="../js/layui/css/layui.css" />
		<style>
			.pagination {
				margin-top: 0!important;
			}			
		</style>
	</head>
	<body>
		
		
		<div class="container">
			
			<ol class="breadcrumb">
				<li><a href="#">二手交易平台</a></li>
				<li><a href="#">管理员系统</a></li>
				<li><a href="#">商品类型管理</a></li>
				<li>商品类型列表</li>
			</ol>
			
			<h3 class="page-header">
				商品类型列表
			</h3>
			
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-md-12">
	            	<div class="input-group">                	
	                	<input type="text" class="form-control" id="keywords" name="keywords" placeholder="请输入名片关键字">
	                    <span class="input-group-btn">
	                    	<button type="button" class="btn btn-primary">全文搜索</button>
	                    </span>
	                </div>            
	            </div>
	            
			</div>

			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>选择</th>
						<th>商品类型编号</th>
						<th>商品类型名称</th>
						<th>商品类型详细信息</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(proType, index) in proTypeData">
						<td>
							<input type="checkbox" id="ids" name="ids" :value="proType.ptId" />
						</td>
						<td>{{proType.ptId}}</td>
						<td>{{proType.ptName}}</td>
						<td>{{proType.ptInfo}}</td>
						<td>
							
							<li><a href="javascript:void(0);" @click="del(proType.ptId,index);">删除</a></li>
									
								
						</td>
					</tr>
					
				</tbody>
			</table>	
			
			<div class="row" v-show="pager.recordCount!=0">
				<div class="col-sm-4">
					<div>
						共{{pager.recordCount}}条数据，每页{{pager.pageSize}}条，
						共{{pager.pageCount}}页，当前是第{{pager.pageNum}}页
					</div>
				</div>
				<div class="col-sm-8">
					<nav>
			        	<ul class="pagination pull-right">
			        		<li v-show="pager.pageNum!=1"><a href="javascript:void(0);" @click="query(1);">首页</a></li>
			                <li v-show="pager.pageNum!=1"><a href="javascript:void(0);" @click="query(pager.pageNum-1);">上页</a></li>
			                
			                <li :class="{active:item==pager.pageNum}" v-for="(item,index) in pageBtn"><a href="javascript:void(0);" @click="query(item);">{{item}}</a></li>
			                			                
			                <li v-show="pager.pageNum!=pager.pageCount"><a href="javascript:void(0);" @click="query(pager.pageNum+1);">下页</a></li>
			                <li v-show="pager.pageNum!=pager.pageCount"><a href="javascript:void(0);" @click="query(pager.pageCount);">末页</a></li>			                
			        	</ul>
			        </nav>
				</div>				
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<a href="addProType.html" class="btn btn-primary btn-block">增加商品类型</a>
				</div>
				
				<div class="col-md-4 col-md-offset-4">
					<input type="button" disabled value="批量删除" id="delManyBtn" class="btn btn-danger  btn-block"/>
				</div>
			</div>
			
		</div>
		
		
		<script type="text/javascript" src="../js/jquery.js" ></script>
		<script type="text/javascript" src="../js/global.js" ></script>
		<script type="text/javascript" src="../js/bootstrap/js/bootstrap.js" ></script>
		<script type="text/javascript" src="../js/layer/layer.js"></script>
		<script type="text/javascript" src="../js/vue/vue2.5.js" ></script>
		<script src="../js/layui/layui.all.js"></script>
		
		<script>
						

				
			
			var v = new Vue({
				el:'.container', //应用vue数据的范围
				data:{  //数据模型
					proTypeData:[],  //分组数据集合
					pager:{},   //分页信息
					pageBtn:[]  //分页按钮
				},
				methods:{ //定义方法
					query:function(pageNum) {	 //查询					
						//发出ajax请求调用后端接口
						var url = baseUrl + "/proType/getAll";
						
						//请求参数
						var params = {
							pageNum:pageNum,
							pageSize:10,
						}
						
						$.ajax({
							type:"post", //请求类型get post
							url: url, //请求url地址
							async:true, //true默认表示异步请求
							dataType:'json', //响应的数据类型
							data:params     //请求参数
						})
						.done(function(data,status,xhr){ //请求成功回调函数
							//把响应的数据赋值给vue数据模型中的变量
							v.proTypeData = data.list;	
							v.pager = data.pager;
							
							//生成分页按钮
							var start = v.pager.pageNum - 2;
							var end = v.pager.pageNum + 2;
							
							if (v.pager.pageNum < 3) {
								start = 1;
								end = 5;
							}
							
							if (end > v.pager.pageCount) {
								end = v.pager.pageCount;								
							}
							
							if (v.pager.pageCount < 5) {
								start = 1;
								end = v.pager.pageCount;
							}
							
							v.pageBtn = [];//初始化清空
							
							for (var i = start;i <= end;i ++) {
								v.pageBtn.push(i);
							}	
						})
						.fail(function(xhr,errorStatus,errorText){ //请求失败回调函数
							alert(errorStatus + ',' + errorText);				
						});							
					},
					del:function(ptId,index) {  //删除
												
						var flag = window.confirm('确定要删除此商品类型吗');
						
						if (!flag)
							return;						
												
						//发出ajax请求调用后端接口
						var url = baseUrl + "/proType/delete";
						
						$.ajax({
							type:"get", //请求类型get post
							url: url, //请求url地址
							async:true, //true默认表示异步请求
							dataType:'text', //响应的数据类型	
							data:{ptId:ptId}	
						})
						.done(function(data,status,xhr){ //请求成功回调函数
							layer.msg('删除商品类型成功');	
							//location.reload();//刷新当前网页
							v.proTypeData.splice(index,1);//前端删除
						})
						.fail(function(xhr,errorStatus,errorText){ //请求失败回调函数
							alert(errorStatus + ',' + errorText);				
						});
					}
					
				}
			});	
			
//			调用查询方法
			v.query(1);	
			
					
			  			
			//批量删除1
			$('#delManyBtn').click(function(){
				
				var ids = $(':checkbox[name=ids]:checked');
				
				if (ids.length == 0) {
					alert('没有选择任何商品类型');
					return;
				}
				
				var idsStr = '';
				
				for (var i = 0;i < ids.length;i ++) {
					idsStr += ids.eq(i).val() + ',';
				}
				
				idsStr = idsStr.substr(0,idsStr.length-1);
				
				var flag = window.confirm('确定要删除选中的商品类型吗');
						
				if ( !flag )
					return;
					
				//发出ajax请求
				var url = baseUrl + "/proType/deleteMany";
				
				$.ajax({
					type: "get", //请求类型get post
					url: url, //请求url地址
					async: true, //true默认表示异步请求
					dataType: 'text', //响应的数据类型	
					data: {
						ids: idsStr
					}
				})
				.done(function(data, status, xhr) { //请求成功回调函数
					layer.msg('删除商品类型成功');
					setTimeout(function() {
						window.v.query(v.pager.pageNum);
					}, 1000);
				})
				.fail(function(xhr, errorStatus, errorText) { //请求失败回调函数
					alert(errorStatus + ',' + errorText);
				});
				
			});	
			
			//删除按钮的状态						
			$('.container').on('click',':checkbox[name=ids]',function(){
				
				var ids = $(':checkbox[name=ids]:checked');
												
				if (ids.length == 0)
					$('#delManyBtn').prop('disabled',true);
				else
					$('#delManyBtn').prop('disabled',false);

				
			});
		</script>	
		
	</body>
</html>
