<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcx.mall.customer.dao.CustomerMapper" >

  <resultMap id="BaseResultMap" type="com.kcx.mall.customer.pojo.Customer" >
    <id column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="cus_login_name" property="cusLoginName" jdbcType="VARCHAR" />
    <result column="cus_password" property="cusPassword" jdbcType="VARCHAR" />
    <result column="cus_ison" property="cusIson" jdbcType="BIT" />
    <result column="cus_account" property="cusAccount" jdbcType="REAL" />
    <result column="cus_contanct_info" property="cusContanctInfo" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from customer
    where cus_id = #{cusId,jdbcType=INTEGER}
  </select>
  
  <select id="queryAll" resultMap="BaseResultMap" >
    select *
    from customer
    LIMIT #{start}, #{pageSize}
  </select>
  
  <select id="selectByLoginName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from customer
    where cus_login_name = #{cusLoginName,jdbcType=VARCHAR}
  </select>
  
  	<insert id="insert" parameterType="com.kcx.mall.customer.pojo.Customer">
		insert into customer (cus_id,
		cus_login_name, cus_password,
		cus_ison, cus_account, cus_contanct_info,cus_photo)
		values (default,
		#{cusLoginName,jdbcType=VARCHAR},
		#{cusPassword,jdbcType=VARCHAR},
		#{cusIson,jdbcType=TINYINT}, #{cusAccount,jdbcType=FLOAT},
		#{cusContanctInfo,jdbcType=VARCHAR}, #{cusPhoto,jdbcType=LONGVARCHAR})
	</insert>
	
	<update id="update" parameterType="com.kcx.mall.customer.pojo.Customer">
		update customer set 
		cus_login_name = #{cusLoginName,jdbcType=VARCHAR},
		cus_password  = #{cusPassword,jdbcType=VARCHAR},
		cus_account = #{cusAccount,jdbcType=FLOAT},
		cus_contanct_info = #{cusContanctInfo,jdbcType=VARCHAR}
		where cus_id = #{cusId,jdbcType=INTEGER}
	</update>
	
	<update id="updateMoney">
		update customer set 
		cus_account = #{cusAccount,jdbcType=FLOAT}
		where cus_id = #{cusId,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from customer where cus_id = #{cusId,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteMany" parameterType="Integer[]">
		delete from customer where cus_id in
		<foreach collection="array" index="i" item="cusId" open="("
			close=")" separator=",">
			#{cusId}
		</foreach>
	</delete>
	
	<!-- 获取用户头像 -->
	<select id="queryHead" parameterType="java.lang.Integer" resultType="java.lang.String">
		select cus_photo from customer where cus_id=#{cusId}
	</select>
	
	<update id="updateHead">
		update customer set 
		cus_photo  = #{cusPhoto,jdbcType=LONGVARCHAR}
		where cus_id = #{cusId,jdbcType=INTEGER}
	</update>
	
	<update id="updatePwd">
		update customer set 
		cus_password  = #{cusPassword,jdbcType=VARCHAR}
		where cus_id = #{cusId,jdbcType=INTEGER}
	</update>
  
</mapper>
