<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcx.mall.manager.dao.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.kcx.mall.manager.pojo.Manager" >
    <id column="mana_id" property="manaId" jdbcType="INTEGER" />
    <result column="mana_name" property="manaName" jdbcType="VARCHAR" />
    <result column="mana_password" property="manaPassword" jdbcType="VARCHAR" />
    <result column="mana_ison" property="manaIson" jdbcType="BIT" />
  </resultMap>
  
  
  <insert id="addMana" parameterType="com.kcx.mall.manager.pojo.Manager">
		insert into manager (mana_id,
		mana_name, mana_password,
		mana_ison)
		values (default,
		#{manaName,jdbcType=VARCHAR},
		#{manaPassword,jdbcType=VARCHAR},
		#{manaIson,jdbcType=TINYINT})
	</insert>
	
	<delete id="deleteByManaId" parameterType="java.lang.Integer">
		delete from manager where mana_id = #{manaId,jdbcType=INTEGER}
	</delete>
	
	
	<!-- 动态形成in后面的列表 -->
	<delete id="deleteMany" parameterType="Integer[]">
		delete from manager where mana_id in
		<foreach collection="array" index="i" item="manaId" open="("
			close=")" separator=",">
			#{manaId}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.kcx.mall.manager.pojo.Manager">
		update manager set 
		mana_name = #{manaName,jdbcType=VARCHAR},
		mana_password  = #{manaPassword,jdbcType=VARCHAR}
		where mana_id = #{manaId,jdbcType=INTEGER}
	</update>
	
	<select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from manager
    where mana_id = #{manaId,jdbcType=INTEGER}
  </select>
  
  <select id="queryByLoginName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from manager
    where mana_name = #{manaName,jdbcType=VARCHAR}
  </select>
  
  <select id="queryAll" resultMap="BaseResultMap">
    select *
    from manager
  </select>
</mapper>